@charset "UTF-8";
table{
    width: 450px;
    border-collapse: collapse;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
}
th{
    background-color: lightslategray;
    color: white;
    border: 1px solid black;
}
th.area{
    background-color: white;
    color: black;
}
th.tmedia{
    text-align: left;
}
td{
    border: 1px solid black;
}
td.fmedia{
    background-color: lightslategray;
    color: white;
}