@charset    "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500;600;700&display=swap');
/*Esta é uma fonte exportada do google fonts, suponho que as outras fontes podem ser implementadas da mesma maneira*/
*{
    height: auto;
    background-attachment: fixed;
}
body{
    background-image: linear-gradient(60deg, #1df, #2df, #3cf);
}
h1{
    font-family: 'Edu TAS Beginner', cursive, Arial, Helvetica, sans-serif;
    /*Sempre, eu digo sempre seu merda. Coloque mais de uma familia de fonte, é sempre bom
    vai que a fonte que você estava utilizando e descontinuada, precisa sempre por algo
    de reserva meu chapa.*/
}
h2{
    font-family: 'Edu TAS beginner', cursive, Arial, Helvetica, sans-serif;
}
p{
    font-family: 'Edu TAS beginner', cursive, Arial, Helvetica, sans-serif;
}