@charset "UTF-8";
iframe{
    height: 500px;
    width: 500px;
}
iframe#tabela{
    display: block;
    margin: auto;
}
iframe#curso-em-video{
    display: block;
    margin-top: auto;
}
iframe#meu-site{
    display: flex;
    margin: auto;
}