@charset "UTF-8";
*{
    display: block;
}
body{
    margin: 0;
    display: block;
}
form{
    display: block;
}
head{
    visibility: hidden;
}
script{
    visibility: hidden;
}
label{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
div{
    justify-content: center;
}
button{
    color: white;
    background-color: black;
    border-radius: 10px;
}
button:hover{
    opacity: .75;
    transition: 1.0s;
    background-color: orangered;
}