@charset "UTF-8";
*{
    background-attachment: fixed;
    height: auto;
    width: auto;
}
body{
    font: 1em arial, helvetica, sans-serif;
    background-color: peachpuff;
}
#caixas{
    background-color: snow;
    width: 400px;
    margin: auto;
    padding: 1px 10pc;
    box-shadow: 3px 5px 4px #00000098;
    border-radius: 10px 40px;
}